@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

.App {
  font-family: 'Bad Script', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: 500;
}

li {
  list-style-type: none;
}

button {
  padding: 0.4rem 0.7rem;
  border: none;
  border-radius: 50px;
  background-color: white;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 2rem;
}

.input-container input {
  width: 15rem;
  border: none;
}

.toDoItem {
  display: flex;
  gap: 10px;
  margin-bottom: 0.5rem;
}

.toDoItem li {
  font-family: 'Bad Script', cursive;
  display: flex;
  justify-content: flex-start;
  width: 9rem;
  font-weight: 400;
  font-size: 1.2rem;
  /* font-family: sans-serif; */
}

.toDoItem button {
  margin-bottom: 1rem;
  font-weight: 400;
}